html {
  height: 100%;
}

body {
  height: 100%;
  font-family: system-ui;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@keyframes rotationPic {
  0%{
  }

  100%{
    transform: rotate(360deg);
  }

}

#picture {
  animation: rotationPic 20s ease infinite;
}

.box {
  width: 25%;
  display: inline-block;
}

.boxSpace {
  width: 6.25%;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #7c9bdd;
}
