html {
  height: 100%;
}

body {
  height: inherit;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box {
  width: 30%;
  display: inline-block;
}
